*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #fff;
    font-family: 'Lora', serif;
    overflow-x: hidden;
}
nav{
    background-image:linear-gradient(
        to right,
        #43cea2 0%,
        
        #185a9d 100%
      );
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0  0 10px 10px;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.heading{
    font-family: 'Hammersmith One', sans-serif;
    margin: 30px;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.visit_playlist{
    margin-right: -10px;
    width: 100%;
}
.visit_playlist_text{
    background-image:linear-gradient(
        to right,
    
        
        #185a9d 100%
      );
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    padding: 12px;
    border-radius: 10px;    
    cursor: pointer;
    border: none;

}


.song_button{
    background-image:linear-gradient(
        to right,
        #02aab0,
        
        #00cdac 
      );
    width: 150px;
    height:50px;
    padding:10px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 100%;
    border: #CDCDCD;
    border-radius: 15px;
    margin: 9px 7px 7px 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.first_img{
    display: flex;
    justify-content: center;
    width:130px;
    height:130px;
    border-radius: 5px;
}
.song_heading{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;    
}
.song_text{
    width: 100%;
    margin-left: 40px;
}
.song_audio{
    background-color: #185a9d;
    border: 2px solid black;  
    border-radius: 25px;  
}
