*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #fff;
    font-family: 'Lora', serif;
    overflow-x: hidden;
    
}
.navbar{
    background-image:linear-gradient(
        to right,
        #43cea2 0%,
        
        #185a9d 100%
      );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0  0 10px 10px;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.heading{
    font-family: 'Hammersmith One', sans-serif;
    margin: 30px;
    width: 100%;
    font-size: 20px;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.visit_playlist{
    margin-right: -10px;
    width: 100%;
}
.visit_playlist_text{
    background-image:linear-gradient(
        to right,
    
        
        #185a9d 100%
      );
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    padding: 12px;
    border-radius: 10px;    
    cursor: pointer;
    border: none;

}
.english_heading{
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 8px;
}
.hindi_heading{
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 8px;
}
.english_text{
    font-family: "Merriweather", sans-serif;
    margin-top: 100px;
}
.hindi_text{
    font-family: "Merriweather", sans-serif;
}


.song_button{
    background-image:linear-gradient(
        to right,
        #02aab0,
        
        #00cdac 
      );
    width: 170px;
    height:50px;
    padding:10px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 15px;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 100%;
    border: #CDCDCD;
    border-radius: 15px;
    margin: 9px 7px 7px 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.first_img{
    display: flex;
    justify-content: center;
    width:140px;
    height:140px;
    border-radius: 5px;
}
.song_heading{
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;    
}
.song_text{
    width: 100%;
    margin-left: 40px;
}
.song_audio{
    background-color: #185a9d;
    border: 2px solid black;  
    border-radius: 25px;  
    width: 270px;
}
.footer_container{
    background-image:linear-gradient(
        to right,
        #43cea2 0%,
        
        #185a9d 100%
      );
      width: 100%;
      height: 100px;
      border-radius: 10px 10px 0 0;
      box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      top: 0;
      left: 0;

}  
.footer_heading{
    font-family: 'Hammersmith One', sans-serif;
    margin-left: 7px;
    margin-top: 20px;
    padding: 35px;
    padding-left: 20px;
    font-size: 20px;
}
.footer_github_logo{
    width: 10px;
    height: 10px;
    margin-left: 270px;
    margin-bottom: 900px;
    position: absolute;
    top: 35px;
    left: -20px;
}
   
@media(min-width:768px) {
    .visit_playlist{
        margin-right: -400px;
    }
    .navbar{
        justify-content: space-around;
    }
    .cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 15px;
        }
    .card{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 500px;
    }
    .english_heading{
        margin-left: 20px;
    }
    .hindi_heading{
        margin-left: 20px;
    }
    .heading{
        font-size: 18px;
    }
}
@media(min-width:1020px){
    .visit_playlist{
        margin-left: 470px;
    }
    .card{
        width: 300px;
        display: flex;
              
    }
    .cards{
        margin-left: 8px;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
}
    .first_img{
        height: 160px;
        width: 160px;
    }
}
@media(min-width:1400px){
    .cards{
        display: flex;
        justify-content: space-evenly;
    }
    .english_heading{
        margin-top: 30px;
        margin-left: 40px;
    }
    .hindi_heading{
        margin-top: 30px;
        margin-left: 40px;
    }
    .visit_playlist{
        margin-left: 610px;
    }
    .footer_container{
        margin: 0;
        width: 100%;
    }

}